body {
  margin: 0 0 0 2rem;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f;
    color: #f0f0f0;
  }
}
body ol {
  margin: 1rem 0;
}
body ol#groups li {
  list-style: none;
}
body ol#groups li a {
  text-decoration: none;
  color: lightblue;
}
body div.group-header {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
body div.group-header h2 {
  margin-right: 0.75rem;
}
body div.group-right {
  display: flex;
  flex-direction: column;  
}
body div.group-actions {
  display: flex;
  flex-direction: row;
}
body button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
}
@media (prefers-color-scheme: dark) {
  body button {
    color: #f0f0f0;
  }
}
